In [ ]:
import pandas as pd

In [1]:
import os

In [2]:
os.getcwd()

'/home/rujal/python'

In [3]:
current_directory = os.getcwd()
print(f"My current working directory is: {current_directory}")

My current working directory is: /home/rujal/python

In [5]:
os.chdir('/home/rujal/Projects/gisc-412/lab1')

In [6]:
os.getcwd()

'/home/rujal/Projects/gisc-412/lab1'

In [7]:
!pip install seaborn

Collecting seaborn
  Downloading seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Collecting numpy!=1.24.0,>=1.20 (from seaborn)
  Downloading numpy-2.3.1-cp312-cp312-manylinux_2_28_x86_64.whl.metadata (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.1/62.1 kB 1.6 MB/s eta 0:00:00
Collecting pandas>=1.2 (from seaborn)
  Downloading pandas-2.3.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (91 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 91.2/91.2 kB 2.5 MB/s eta 0:00:00
Collecting matplotlib!=3.6.1,>=3.4 (from seaborn)
  Downloading matplotlib-3.10.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (11 kB)
Collecting contourpy>=1.0.1 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading contourpy-1.3.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (5.5 kB)
Collecting cycler>=0.10 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading fonttools-4.59.0-cp312-cp312-manylinux1_x86_64.manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_5_x86_64.whl.metadata (107 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 107.9/107.9 kB 3.9 MB/s eta 0:00:00
Collecting kiwisolver>=1.3.1 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading kiwisolver-1.4.8-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (6.2 kB)
Requirement already satisfied: packaging>=20.0 in /home/rujal/python/venv/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (25.0)
Collecting pillow>=8 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading pillow-11.3.0-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (9.0 kB)
Collecting pyparsing>=2.3.1 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading pyparsing-3.2.3-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: python-dateutil>=2.7 in /home/rujal/python/venv/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas>=1.2->seaborn)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas>=1.2->seaborn)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /home/rujal/python/venv/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Downloading seaborn-0.13.2-py3-none-any.whl (294 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 294.9/294.9 kB 7.2 MB/s eta 0:00:00ta 0:00:01
Downloading matplotlib-3.10.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (8.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.6/8.6 MB 12.4 MB/s eta 0:00:0000:0100:01
Downloading numpy-2.3.1-cp312-cp312-manylinux_2_28_x86_64.whl (16.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.6/16.6 MB 12.4 MB/s eta 0:00:0000:0100:01
Downloading pandas-2.3.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.0/12.0 MB 12.7 MB/s eta 0:00:0000:0100:01
Downloading contourpy-1.3.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (323 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 323.7/323.7 kB 6.2 MB/s eta 0:00:00:00:01
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.59.0-cp312-cp312-manylinux1_x86_64.manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_5_x86_64.whl (4.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.9/4.9 MB 12.2 MB/s eta 0:00:0000:0100:01
Downloading kiwisolver-1.4.8-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.5/1.5 MB 10.9 MB/s eta 0:00:0000:0100:01
Downloading pillow-11.3.0-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (6.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.6/6.6 MB 12.7 MB/s eta 0:00:0000:0100:01
Downloading pyparsing-3.2.3-py3-none-any.whl (111 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 111.1/111.1 kB 3.5 MB/s eta 0:00:00
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 509.2/509.2 kB 8.7 MB/s eta 0:00:00:00:01
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 347.8/347.8 kB 8.5 MB/s eta 0:00:00ta 0:00:01
Installing collected packages: pytz, tzdata, pyparsing, pillow, numpy, kiwisolver, fonttools, cycler, pandas, contourpy, matplotlib, seaborn
Successfully installed contourpy-1.3.2 cycler-0.12.1 fonttools-4.59.0 kiwisolver-1.4.8 matplotlib-3.10.3 numpy-2.3.1 pandas-2.3.1 pillow-11.3.0 pyparsing-3.2.3 pytz-2025.2 seaborn-0.13.2 tzdata-2025.2

In [ ]:
from pyspark.sql import SparkSession

In [13]:
spark = SparkSession.builder.appName('gis').getOrCreate()

In [14]:
spark.range(5).show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
+---+

In [17]:
print(not(10<8))

True

In [18]:
%whos

Variable            Type            Data/Info
---------------------------------------------
SparkSession        type            <class 'pyspark.sql.session.SparkSession'>
current_directory   str             /home/rujal/python
findspark           module          <module 'findspark' from <...>e-packages/findspark.py'>
os                  module          <module 'os' (frozen)>
session             SparkSession    <pyspark.sql.session.Spar<...>object at 0x7d79f1a4cb00>
spark               SparkSession    <pyspark.sql.session.Spar<...>object at 0x7d79f1a4cb00>

In [19]:
fav_fruit=['banana','kiwifruit','cashew','pineapple']

In [21]:
len(fav_fruit)

4

In [27]:
fav_fruit[:2]

['banana', 'kiwifruit']

In [28]:
fruit_price={'coconut': 10.5, 'banana': 5, 'strawberry':10, 'pineapple':20, 'pear':2}

In [29]:
print(fruit_price)

{'coconut': 10.5, 'banana': 5, 'strawberry': 10, 'pineapple': 20, 'pear': 2}

In [32]:
fruit_price["banana"]

8

In [31]:
fruit_price["banana"] = 8

In [35]:
print(fruit_price)

{'coconut': 10.5, 'strawberry': 10, 'pineapple': 20, 'pear': 2}

In [34]:
del fruit_price["banana"]

In [36]:
fruit_price["COCONUT"] = fruit_price.pop("coconut")

In [37]:
print(fruit_price)

{'strawberry': 10, 'pineapple': 20, 'pear': 2, 'COCONUT': 10.5}

In [ ]:
os.listdir('./')

['artifacts', 'lab1.ipynb']

In [39]:
os.getcwd()

'/home/rujal/Projects/gisc-412/lab1'

In [40]:
import pandas as pd

In [41]:
class_data = pd.read_csv("fake_student_grades.csv")

In [42]:
class_data

                 Name  Grade
0         Rory Romero     10
1        Bryson Ellis      1
2            Ayla Lam      8
3          Bodie Cook      8
4     Aaliyah Dejesus      0
5       Rio Dominguez      8
6       Raegan Correa      1
7        Zakai Rhodes      2
8       Tatum Douglas      9
9     Derek Jaramillo     10
10   Guadalupe Watson      3
11      Greyson Ayers      1
12        Simone Hall      3
13     Thomas Higgins      9
14  Leighton Cardenas      2
15     Johnathan Mack      8
16   Nadia Stephenson      2
17          Joe Sloan      3
18        Selene Khan      2
19   Kendrick Lambert      3
20        Nina Sawyer      1
21     Jefferson Pugh      6
22          Landry Vu      5
23       Kamdyn Booth      0
24     Zariyah Molina      0
25    Prince Villegas      9
26        Jessie Sosa      7
27       Emir Aguirre      6
28         Ariah Chan      3
29     Frank Figueroa      3
30     Lilith Sweeney      3
31        Nixon Simon      3
32       Kalani Boone      5
33   Mauricio Russell      4
34     Raelynn Landry      0
35        Jaxx Barker      5
36     Remington Mays      0
37       Jadiel Allen      0
38     Riley Franklin      2
39         Simon Gray      9
40      Sarah Dickson      4
41       Maxton Gross      1
42     Angel Jennings      2
43     Corbin Donovan      3
44     Azariah Landry     10
45        Jaxx Conrad      3
46     Bexley Barrera      3
47       Makai Wilson      7
48         Luna Hodge      8
49       Reign Foster     10
50       Brielle Kaur      1

In [43]:
class_data.head()

              Name  Grade
0      Rory Romero     10
1     Bryson Ellis      1
2         Ayla Lam      8
3       Bodie Cook      8
4  Aaliyah Dejesus      0

In [44]:
class_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    51 non-null     object
 1   Grade   51 non-null     int64
dtypes: int64(1), object(1)
memory usage: 948.0+ bytes

In [45]:
class_data.describe()

           Grade
count  51.000000
mean    4.235294
std     3.271625
min     0.000000
25%     2.000000
50%     3.000000
75%     7.500000
max    10.000000

In [46]:
class_data.columns

Index(['Name', 'Grade'], dtype='object')

In [47]:
class_data["Name"]

0           Rory Romero
1          Bryson Ellis
2              Ayla Lam
3            Bodie Cook
4       Aaliyah Dejesus
5         Rio Dominguez
6         Raegan Correa
7          Zakai Rhodes
8         Tatum Douglas
9       Derek Jaramillo
10     Guadalupe Watson
11        Greyson Ayers
12          Simone Hall
13       Thomas Higgins
14    Leighton Cardenas
15       Johnathan Mack
16     Nadia Stephenson
17            Joe Sloan
18          Selene Khan
19     Kendrick Lambert
20          Nina Sawyer
21       Jefferson Pugh
22            Landry Vu
23         Kamdyn Booth
24       Zariyah Molina
25      Prince Villegas
26          Jessie Sosa
27         Emir Aguirre
28           Ariah Chan
29       Frank Figueroa
30       Lilith Sweeney
31          Nixon Simon
32         Kalani Boone
33     Mauricio Russell
34       Raelynn Landry
35          Jaxx Barker
36       Remington Mays
37         Jadiel Allen
38       Riley Franklin
39           Simon Gray
40        Sarah Dickson
41         Maxton Gross
42       Angel Jennings
43       Corbin Donovan
44       Azariah Landry
45          Jaxx Conrad
46       Bexley Barrera
47         Makai Wilson
48           Luna Hodge
49         Reign Foster
50         Brielle Kaur
Name: Name, dtype: object

In [49]:
class_data["Grade"]

0     10
1      1
2      8
3      8
4      0
5      8
6      1
7      2
8      9
9     10
10     3
11     1
12     3
13     9
14     2
15     8
16     2
17     3
18     2
19     3
20     1
21     6
22     5
23     0
24     0
25     9
26     7
27     6
28     3
29     3
30     3
31     3
32     5
33     4
34     0
35     5
36     0
37     0
38     2
39     9
40     4
41     1
42     2
43     3
44    10
45     3
46     3
47     7
48     8
49    10
50     1
Name: Grade, dtype: int64

In [50]:
class_data.Outcome = None

In [51]:
class_data.head()

              Name  Grade
0      Rory Romero     10
1     Bryson Ellis      1
2         Ayla Lam      8
3       Bodie Cook      8
4  Aaliyah Dejesus      0

In [52]:
class_data["Outcome"] = None

In [53]:
class_data.columns

Index(['Name', 'Grade', 'Outcome'], dtype='object')

In [54]:
class_data.head()

              Name  Grade Outcome
0      Rory Romero     10    None
1     Bryson Ellis      1    None
2         Ayla Lam      8    None
3       Bodie Cook      8    None
4  Aaliyah Dejesus      0    None

In [55]:
def grading(score):
  outcome = 'Fail'

  if score > 8:
    outcome = 'Awesome'
  elif score > 6:
    outcome = 'Great'
  elif score > 4:
    outcome = 'Meh'

  return outcome

In [ ]:
class_data["Outcome"] = class_data["Grade"].apply(grading)

In [57]:
class_data.head(20)

                 Name  Grade  Outcome
0         Rory Romero     10  Awesome
1        Bryson Ellis      1     Fail
2            Ayla Lam      8    Great
3          Bodie Cook      8    Great
4     Aaliyah Dejesus      0     Fail
5       Rio Dominguez      8    Great
6       Raegan Correa      1     Fail
7        Zakai Rhodes      2     Fail
8       Tatum Douglas      9  Awesome
9     Derek Jaramillo     10  Awesome
10   Guadalupe Watson      3     Fail
11      Greyson Ayers      1     Fail
12        Simone Hall      3     Fail
13     Thomas Higgins      9  Awesome
14  Leighton Cardenas      2     Fail
15     Johnathan Mack      8    Great
16   Nadia Stephenson      2     Fail
17          Joe Sloan      3     Fail
18        Selene Khan      2     Fail
19   Kendrick Lambert      3     Fail

In [58]:
class_data.tail(30)

                Name  Grade  Outcome
21    Jefferson Pugh      6      Meh
22         Landry Vu      5      Meh
23      Kamdyn Booth      0     Fail
24    Zariyah Molina      0     Fail
25   Prince Villegas      9  Awesome
26       Jessie Sosa      7    Great
27      Emir Aguirre      6      Meh
28        Ariah Chan      3     Fail
29    Frank Figueroa      3     Fail
30    Lilith Sweeney      3     Fail
31       Nixon Simon      3     Fail
32      Kalani Boone      5      Meh
33  Mauricio Russell      4     Fail
34    Raelynn Landry      0     Fail
35       Jaxx Barker      5      Meh
36    Remington Mays      0     Fail
37      Jadiel Allen      0     Fail
38    Riley Franklin      2     Fail
39        Simon Gray      9  Awesome
40     Sarah Dickson      4     Fail
41      Maxton Gross      1     Fail
42    Angel Jennings      2     Fail
43    Corbin Donovan      3     Fail
44    Azariah Landry     10  Awesome
45       Jaxx Conrad      3     Fail
46    Bexley Barrera      3     Fail
47      Makai Wilson      7    Great
48        Luna Hodge      8    Great
49      Reign Foster     10  Awesome
50      Brielle Kaur      1     Fail